<%- include('partials/header') -%>

    <div class="container">
        <div class="container">
            <div class="post mb-5">
                <div class="title">
                    <h3>
                        <%= title %>
                    </h3>
                </div>
                <div class="body">
                    <p>
                        <%= content %>
                    </p>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') -%>